<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Bob Nisco and Jason Parraga">
		<meta name="description" content="Marist College Hackathon Fall 2012 Project">
		
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/styles.css" />
		<link rel="stylesheet" href="/static/css/1140.css" />
		<link rel="stylesheet" href="/static/css/ie.css" />
		<title>ResNet</title>
	</head>
		
	<body>
		<div class="container">
			<div class="row">
				<div class="twelvecol" id="content">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="/static/js/css3-mediaqueries.js"></script>
	</body>
</html>