{% extends "base.html" %}

{% block content %}
    
    <div class="page-header">
        <h1>Welcome <small>{{ user.first_name }} {{ user.last_name }}</small></h1>
    </div>
    {% if reports %}
    <table class="table table-striped tablesorter">
        <thead>
            <tr>
                <th>Problem</th>
                <th>Device</th>
                <th>Brought In</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
    {% for report in reports %}
            <tr>
                <td><a href="{{report.id}}">{{ report.problem }}</a></td>
                <td>{{ report.device.type }}</td>
                <td>{{ report.createdAt }}</td>
                {% for status  in latest %}
                	{% if status.report_id = report %}
                		{% if status.message = "Checked In" %}
	                		<td><span class="label label-important">{{status.message}}</span></td>
	                	{% elif status.message = "In Progress" %}
	                		<td><span class="label label-warning">{{status.message}}</span></td>
	                	{% else %}
	                		<td><span class="label label-success">{{status.message}}</span></td>
	                	{% endif %}
	                {% endif %}
                {% endfor %}
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You don't have any reports, congrats on staying safe!</p>
    {% endif %}
{% endblock %}