{% extends "base.html" %}

{% block content %}

    <h1>Welcome <small>{{ user.first_name }} {{ user.last_name }}</small></h1>
    {% if reports %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Problem</th>
                <th>Device</th>
                <th>Brought In</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
    {% for report in reports %}
            <tr>
                <td><a href="{{report.id}}">{{ report.problem }}</a></td>
                <td>{{ report.device.type }}</td>
                <td>{{ report.createdAt }}</td>
                {% for status  in latest %}
                {%if status.report_id = report %}
                <td>{{status.message}}</td>
                {% endif %}
                {% endfor %}
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
{% endblock %}