{% extends "base.html" %}

{% block content %}

	{% if form.errors %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">x</button>
			Sorry, that's not a valid username or password
		</div>
	{% endif %}

	<form action="" method="post">
		<fieldset>
			<legend>Please login</legend>
			{% csrf_token %}
			<label for="username">User name:</label>
			<input type="text" name="username" value="" id="username">
			<label for="password">Password:</label>
			<input type="password" name="password" value="" id="password">
			<input type="hidden" name="next" value="{{ next|escape }}" />
			<input type="submit" class="btn btn-primary" value="login" />
		</fieldset>
	</form>

{% endblock %}